<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a routerLink="/" class="navbar-brand">WTM Mail Templates</a>
    <div class="nav navbar-nav">
      <span class="pull-xs-right nav-item nav-link active" *ngIf="character">
        <span class="profile">
          <img [src]="portraitUrl" class="img-rounded" />
          {{character.CharacterName}}
        </span>
        <a href="{{logoutUrl}}">
          <button class="btn btn-outline-danger">Log Out</button>
        </a>
      </span>
    </div>
  </div>
</nav>