<div class="row">

  <div class="col-md-6">
    <h6>Category</h6>
    <div class="btn-group">
      <label class="btn btn-outline-primary"
        *ngFor="let category of templateService.subjects | keys"
        [(ngModel)]="templateService.selectedCategory"
        (ngModelChange)="categoryChange($event)"
        btnRadio="{{category}}">
        {{templateService.display[category]}}
      </label>
    </div>
  </div>

  <div class="col-md-6" *ngIf="templateService.selectedCategory">
    <h6>Sub Category</h6>
    <div class="btn-group">
      <label class="btn btn-outline-primary"
        *ngFor="let subCategory of templateService.subjects[templateService.selectedCategory] | keys"
        [(ngModel)]="templateService.selectedSubCategory"
        btnRadio="{{subCategory}}">
        {{templateService.display[subCategory]}}
      </label>
    </div>
  </div>

</div>